.header-section {
    width: 100%;
    min-height: 700px;
    position: relative;
    background: #000000;
    /* fallback for old browsers */
    background: #008374;
    background-position: bottom;
    display: flex;
    justify-content: center;
    height: auto;
}


.container-logo-img-fluid {
    max-width: 400px;
    height: auto;
    border-radius: 100px 10px 100px 30px;
    background-color: #52b788;
    padding: 20px;
}

.container-logo-img-fluid img {
    border-radius: 90px 10px 90px 30px;
}


.sticky {
    background-color: white;
}

.sticky h1 {
    color: #525660 !important;
    font-weight: 700;
}

.sticky a {
    color: #525660 !important;
}

.header-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 90000;
}

.logo-header {
    transition: 0.6s;
}

.title-name h1 {
    font-size: 1.3rem;
    color: #fff;
    margin-bottom: -10px;
    font-weight: 400;
    font-family: 'Comfortaa', cursive;
}

.title-name h1 span {
    font-size: 1.3rem;
    font-family: 'Comfortaa', cursive;
    color: #52b788;
    margin-left: 10px;
    font-weight: 700;
}

.header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.option-header-item.active {
    color: #52b788 !important;
    font-weight: 700 !important;
}

.option-header-item {
    font-family: 'Comfortaa', cursive;
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.header-footer-design {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-wave {
    margin-top: -5px;
    transform: rotate(180deg)
}


@media only screen and (max-width:990px) {
    .schedules {
        position: relative;
        z-index: 10000;
    }

    .schedules-container {
        margin-top: 100px;
    }

    .header-info-container {
        margin-top: 150px;
    }

    .header-menu {
        padding: 0 64px;
    }

}


@media only screen and (max-width: 806px) {
    .header-options {
        display: none;
    }
}